.CatSliderSection {
  width: 100%;
  padding: 30px 0px;
}

.cat_slider_main .slick-slide {
  padding-right: 20px !important;
}
.cat_slider_main .item {
  height: auto;
  display: flex;

  align-items: center;
  cursor: pointer;
  padding: 15px 0px;
  justify-content: center;
}
.cat_slider_main .item .info h5 {
  font-weight: 350px !important;
  align-items: center;
  display: flex;

  font-size: 20px;
  justify-content: center;
  text-align: center;
}
.cat_slider_main .item .info p {
  font-size: 14px;
  opacity: 0.8;
  color: black;
  margin-bottom: 0px;
}
.cat_slider_main .item .info {
  margin: auto;
  display: flex;
  align-items: center;
  height: 250px;
  border-radius: 15px;
  justify-content: center;
   padding: 15px;
  transition: all 0.2 ease-in-out;
  position: relative;
  flex-direction: column;
}
.cat_slider_main .item:hover .info {
  transform: translateY(-10px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24), 0 3px 6px rgba(0, 0, 0, 0.32);
}
